* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
 background:  url("./image/blanco.webp");
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center; 
 /* linear-gradient(
    0deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );*/
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: #161a2b;
  text-align: center;
  margin: 50px auto;
  border-radius: 25px;
  padding: 0 50px;
  padding-bottom: 32px;
}

h1 {
  margin: 25px 40px 35px 10px;
  color: #fff;
  font-size: 40px;
  font-family: seriously;
  text-shadow: 05px 05px rgb(35, 165, 182);
}

h2 {
  margin: 25px 40px 35px 10px;
  color: #fff;
  font-size: 12px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  width: 100%;
  margin-bottom: 8px;

}

.todo-input {
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 2px solid #1bd115;
  outline: none;
  width: 70%;
  background: transparent;
  color: rgb(94, 160, 190);
}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: #fff;
  font-size: 1.10em;
  font-style: italic;
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin: 0 2px;
  padding: 14px 22px;
  background: linear-gradient(
    90deg,
    rgb(21, 202, 103) 0%,
    rgb(21, 202, 103) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #29ca4c;
}

.todo-button.edit {
  background: linear-gradient(
    80deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  color: rgb(5, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(196, 114, 214) 0%,
    rgb(219, 211, 217) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 100%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(121, 79, 204) 0%,
    rgb(221, 212, 226) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(137, 230, 157) 0%,
    rgb(238, 227, 233) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(68, 154, 216) 0%,
    rgb(198, 203, 209) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(201, 23, 23);
}


.complete-icon {
  margin-right: 5px;
  color: rgba(34, 104, 61, 0.781);
}

.show-icon {
  margin-right: 5px;
  color: rgb(23, 90, 216);
}


.edit-icon {
  color: rgba(228, 138, 20, 0.938);
}

.done {
  text-decoration: line-through;
}

.todo {
  width: 100%;
  text-align: left;
}

.description {
  display: flex;
}

.col-sm{
  color: rgb(228, 227, 227);
}